<!-- NOT IMPLEMENTED -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end" background-color:#3f4d67>

    <!-- Links -->
     
      <ul class="navbar-nav">
        <!-- Navbar text-->
                
        <li class="nav-item">
            <li class="navbar-text">
                <li class="nav-link" href="#">Balance: 100000.1 USD<li>
                <a class="nav-link" href="/depositFunds.html" style="color: #369ea9;">Defosit Funds<a>
            </li>
        </li>
           
        
        <li class="nav-item dropdown" >
           
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fa fa-user me-sm-1"></i> Welcome to : HONG
            </a>
            <div class="dropdown-menu"  align-items-right>
              <a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
      </ul>
      
     
    
</nav>
