{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="page-header-title" style="text-align: center;">
                        <h2 class="m-b-10">Deposit Fund</h2>
                    </div>
                </div>
            </div>   
            <div class ="col-sm-12"><p></p></div>
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[D F info] start-->
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">John Doe</h4>
                                    <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
                                </div>
                                <div class="card-footer" style="text-align: right;">
                                    <a>For Depoist Histroy  </a><a href="\Histroy.html" >  Click Here</a>
                                </div>

                            </div>
                        </div>
                        <!--[Gate1 Link] end-->
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class = "row">
                                        <div class = "col-sm-10" style="font-size: 20px;">
                                            <a>Insert amount you like to deposit in USD:  </a><input type="text" style="max-width: 10%">
                                        </div>
                                        <div class = "col-sm-2">
                                            <button type="submit" class="btn btn-primary mb-2">Deposit</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer" style="text-align: right;">
                                    <a></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Select your payment method</h5>
                                </div>
                                <div class="card-block" style="height:300px;">
                                    
                                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                    <div id="myDIV" class="mt-3">
                                        <div>BTC</div>
                                        <div>ETH</div>
                                        <div>USDT</div>
                                        <div>BNB</div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Payment Info</h5>
                                </div>
                                <div class="card-block" style="height: 300px;">
                                    <div id="morris-bar-stacked-chart" ></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <div>
        
{% endblock content %}
